<app-toolbar></app-toolbar>
<div class="container">
    <div class="header">
      <button (click)="goBack(productForm)">{{preLocation}}</button>
      <h2>{{ isNew ? 'منتج جديد' : 'تحديث منتج' }}</h2>
    </div>
    <div class="form-group">
      <div class="searchProduct-Input" fxLayout="row" fxLayoutAlign="center center">
        <input type="text" id="searchProduct" placeholder="البحث عن منتج موجود" name="searchProduct" [(ngModel)]="searchTerm" (keyup)="onSearch()" dir="rtl" autofocus>
      </div>
      <ul *ngIf="isSearched">
        <li *ngFor="let product of searchResult" (click)="onSelect(product)">
          {{ product.name }} - ({{product.category}})
        </li>
      </ul>
    </div>
    <form (ngSubmit)="submit(productForm)" #productForm="ngForm" class="deviceForm" id="form">
      <div class="form-group" fxLayout="row" fxLayoutAlign="center center" dir="rtl">
        <input type="text" id="ProductName" placeholder="اسم المنتج" name="ProductName" [(ngModel)]="product.name" required>
      </div>
      <div id="suppliersContainer">
        <div *ngFor="let sup of product.suppliers; let i = index" class="supplier-row" fxLayout="row" fxLayoutAlign="space-between center" dir="rtl">
          <p> المورد: {{ sup.name }}</p>
          <p> الكمية: {{ sup.quantity }}</p>
          <p> سعر شراء القطعة: {{ sup.purchasePrice }}</p>
          <p> كاش: {{ sup.whatIsPaid }}</p>
          <p> آجل: {{ sup.oweing }}</p>
          <p> تاريخ الشراء: {{ sup.purchasedate }}</p>
          <a mat-button id="delete-button" (click)="deleteSupplier(i)">حذف</a>
        </div>
      </div>
      <form class="supplierInput" #supplierForm="ngForm">
        <div class="form-group" fxLayout="row" fxLayoutAlign="center center" dir="rtl">
          <mat-select placeholder="المورد" id="supplier" name="supplier" [(ngModel)]="supplier.name" required>
            <mat-option class="option" *ngFor="let supp of allSuppliers" [value]="supp.name" (onSelectionChange)="getSelectedSupplierId(supp)" selected>{{ supp.name }}</mat-option>
          </mat-select>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" dir="rtl">
          <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
              <label for="quantity" class="gray">الكمية: </label>
              <input type="number" id="quantity" placeholder="الكمية" name="quantity" [(ngModel)]="supplier.quantity" (ngModelChange)="determineOweing(supplier)" required>
          </div>
          <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
              <label for="purchasePrice" class="gray">سعر الشراء القطعة: </label>
              <input type="number" id="purchasePrice" name="purchasePrice" [(ngModel)]="supplier.purchasePrice" (ngModelChange)="determineOweing(supplier)" required>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" dir="rtl">
          <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
            <label for="paidPrice" class="gray"> كاش : </label>
            <input type="number" id="paidPrice" name="paidPrice" [(ngModel)]="supplier.whatIsPaid" (ngModelChange)="determineOweing(supplier)" required>
          </div>
          <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
              <label for="oweing" class="gray"> آجل: </label>
              <input type="number" id="oweing" name="oweing" [(ngModel)]="supplier.oweing" required>
          </div>
        </div>
        <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
          <input type="text" id="purchasedate" name="purchasedate" [(ngModel)]="supplier.purchasedate" placeholder={{date}} value={{date}} dir="rtl" disabled>
        </div>
        <button mat-button id="add-supplier" (click)="addSupplier()" [disabled]="supplierForm.invalid">إضافة</button>
      </form>
      <div class="form-group" fxLayout="row" fxLayoutAlign="center center" dir="rtl">
        <mat-select placeholder="الفئة" id="category" name="category" [(ngModel)]="product.category" required>
            <mat-option class="option" *ngFor="let sec of productSections" [value]="sec.name">{{ sec.name }}</mat-option>
        </mat-select>
        <mat-select placeholder="حالة المنتج" id="status" name="status" [(ngModel)]="product.status" required>
          <mat-option class="option" value="new">جديد</mat-option>
          <mat-option class="option" value="used">مستعمل</mat-option>
        </mat-select>
      </div>
      <div class="form-group" fxLayout="row" fxLayoutAlign="center center" dir="rtl">
        <textarea matInput placeholder="الوصف" lang="ar" dir="auto" id="description" name="description" cols="30" rows="8" [(ngModel)]="product.description"></textarea>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" dir="rtl">
        <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
          <label for="quantity" class="gray">الكمية: </label>
          <input type="number" id="quantity" placeholder="الكمية" name="quantity" [(ngModel)]="product.quantity" required>
        </div>
        <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
            <label for="userSellingPrice" class="gray">بيع قطعة عميل: </label>
          <input type="number" id="userSellingPrice" name="userSellingPrice" [(ngModel)]="product.userSellingPrice" required>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" dir="rtl">
        <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
            <label for="deallerSellingPrice" class="gray">بيع قطعة تاجر: </label>
            <input type="number" id="deallerSellingPrice" name="deallerSellingPrice" [(ngModel)]="product.deallerSellingPrice" required>
        </div>
        <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
            <label for="deallerSellingPriceAll" class="gray">بيع قطعه جمله تاجر: </label>
          <input type="number" id="deallerSellingPriceAll" name="deallerSellingPriceAll" [(ngModel)]="product.deallerSellingPriceAll" required>
        </div>
      </div>
      <button mat-button class="btn btn-primary" id="submit" type="submit" [disabled]="productForm.invalid">{{ isNew ? 'حفظ المنتج' : 'تحديث المنتج' }}</button>
    </form>
</div>