<div class="container">
    <h2 class="slide-in">Login</h2>
    <form (ngSubmit)="submit()" #loginForm="ngForm">
        <div class="form-group">
            <input type="text" placeholder="Email" id="email" name="email" [(ngModel)]="email" required>
        </div>
        <div class="form-group">
            <input type="password" placeholder="Password" id="password" name="password" [(ngModel)]="password" required>
        </div>
        <div class="button-group">
            <button class="btn btn-primary Pulse slide-in" type="submit" [disabled]="loginForm.invalid">Login</button>
        </div>
    </form>
</div>