<div class="cart-container">
  <div class="cart-sidebar">
    <button mat-button (click)="goBack()">Back</button>
    <h3>فاتورة</h3>
    <select [(ngModel)]="cartId" (change)="onCartChange(cartId)">
      <option *ngFor="let cart of carts" [value]="cart.id">{{ cart.id }}. {{ cart.cartName }}</option>
    </select>
    <h4>Buyer Information</h4>
    <label for="buyerName">{{userType === 'user' ? 'عميل' : 'ديلر'}} </label>
    <input type="text" name="buyerName" [(ngModel)]="buyerName" (ngModelChange)="updateCartInformation()" *ngIf="userType === 'user'">
    <select [(ngModel)]="buyerName" (ngModelChange)="updateCartInformation()" *ngIf="userType === 'dealer'">
      <option *ngFor="let dealer of dealers" [value]="dealer.name">{{dealer.name}}</option>
    </select>

    <label for="buyerPhoneNumber">رقم التليفون </label>
    <input type="text" name="buyerPhoneNumber" [(ngModel)]="buyerPhoneNumber" (ngModelChange)="updateCartInformation()">

    <label for="userType">نوع العميل </label>
    <select [(ngModel)]="userType" (ngModelChange)="updateCartInformation()">
      <option value="user">user</option>
      <option value="dealer">dealer</option>
    </select>

    <label for="payType">نوعية الدفع </label>
    <select [(ngModel)]="payType" (ngModelChange)="updateCartInformation()">
      <option value="cash">كاش</option>
      <option value="vodafone-cash">فودافون كاش</option>
      <option value="bank">بنك</option>
    </select>

    <label for="discount">خصم </label>
    <input type="number" name="discount" id="discount" [(ngModel)]="discount" (ngModelChange)="updateCartInformation()">
    
    <label for="paid">كاش</label>
    <input type="number" name="paid" id="paid" [(ngModel)]="paid" (ngModelChange)="updateCartInformation()">

    <button mat-button (click)="createNewCart()" style="margin-top: 10px;">New Cart</button>
    <button mat-button (click)="deleteCart()">cancel cart</button>

  </div>
  <div class="cart-items" *ngIf="products">
    <h3>Items in Cart</h3>
    <table>
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of products">
          <td>{{ item.product.name }}</td>
          <td><input type="number" [(ngModel)]="item.quantity" (ngModelChange)="updateCartItemQuantity(item)"></td>
          <td *ngIf="userType === 'user'">{{ (item.product.userSellingPrice * dollarPrice) | currency }}</td>
          <td *ngIf="userType === 'dealer' && item.quantity >= 0 && item.quantity < 3">{{ (item.product.deallerSellingPrice * dollarPrice) | currency }}</td>
          <td *ngIf="userType === 'dealer' && item.quantity >= 3">{{ (item.product.deallerSellingPriceAll * dollarPrice) | currency }}</td>
          <td *ngIf="userType === 'user'">{{ (item.product.userSellingPrice * dollarPrice) * item.quantity| currency }}</td>
          <td *ngIf="userType === 'dealer' && item.quantity >= 0 && item.quantity < 3">{{ (item.product.deallerSellingPrice * dollarPrice) * item.quantity | currency }}</td>
          <td *ngIf="userType === 'dealer' && item.quantity >= 3">{{ (item.product.deallerSellingPriceAll * dollarPrice) * item.quantity | currency }}</td>
          <!-- <td>{{ userType === 'user' ? item.product.userSellingPrice : item.quantity >= 3 ? item.product.deallerSellingPriceAll : item.product.deallerSellingPrice }}</td>
          <td>{{ (userType === 'user' ? item.product.userSellingPrice : item.quantity >= 3 ? item.product.deallerSellingPriceAll : item.product.deallerSellingPrice) * item.quantity }}</td> -->
          <td><button (click)="deleteCartItem(item)">Delete</button></td>
        </tr>
      </tbody>
    </table>
    <div class="total-price" fxlayout="column" dir="rtl">
      <p>قيمة الفاتورة: {{ totalPrice }}</p>
      <!-- <p>خصم : {{currentCart.discount}}</p> -->
      <p>إجمالي: {{total}}</p>
      <p>المدفوع: {{paid}}</p>
      <P> اﻵجل: {{owing}}</P>
    </div>
    <button mat-button (click)="updateCartInformation()" style="margin-bottom: 10px;">Update Information</button>
    <button mat-button style="margin-bottom: 10px;" (click)="sellCart()">بيع</button>
    <app-print-layout [cart]="currentCart" [products]="currentCart.products"></app-print-layout>
    <button mat-button ngxPrint printSectionId="invoice" [printStyle]="{
      p: {'line-height': '75%', 'font-weight': 'bold', 'font-size': '11px'},
      svg: {'width': '100px', 'height': '100px'},
      table: {'border-collapse': 'collapse', 'width': '100%',  'margin-bottom': '20px'},
      'table th': {'border': '2px solid #ddd', 'background-color': '#f2f2f2'},
      'table td': {'border': '2px solid #ddd', 'padding': '8px', 'text-align': 'left'},
      '.remarks': {'border': '2px solid #ddd', 'padding': '10px', 'width': '30%','height': '160px'},
      '.remarks p': {'text-align': 'center'},
      '.informations': { 'position': 'absolute','bottom': '0','width': '100%','text-align': 'right'},
      '.rules': {'float': 'right', 'width': '56%', 'font-size': '12px', 'text-align': 'right', 'margin-right' :'10px'},
      '.rules h3': {'text-align' : 'center'},
      '.payment': {'width': '200px'},
      '.payment td': {'border': '2px solid #ddd','padding': '8px',' text-align': 'center','width':'50%'},
      '.branches h3': {'text-align': 'center'}
    }">Print Invoice</button>
  </div>
</div>