<div class="cart-container">
  <div class="cart-sidebar">
    <h3>Cart</h3>
    <select [(ngModel)]="cartId" (change)="onCartChange(cartId)">
      <option *ngFor="let cart of carts" [value]="cart.id">{{ cart.id }}. {{ cart.cartName }}</option>
    </select>
    <h4>Buyer Information</h4>
    <label for="buyerName">Buyer Name:</label>
    <input type="text" name="buyerName" [(ngModel)]="buyerName">
    <label for="buyerPhoneNumber">Buyer Phone Number:</label>
    <input type="text" name="buyerPhoneNumber" [(ngModel)]="buyerPhoneNumber">
    <button (click)="createNewCart()">New Cart</button>
    <button (click)="updateCartInformation()">Update Information</button>
    <button (click)="deleteCart()">delete cart</button>
  </div>
  <div class="cart-items">
    <h3>Items in Cart</h3>
    <table>
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of products">
          <td>{{ item.product.name }}</td>
          <td><input type="number" [(ngModel)]="item.quantity" (ngModelChange)="updateCartItemQuantity(item)"></td>
          <td>{{ userType === 'user' ? item.product.userSellingPrice : item.quantity >= 3 ? item.product.deallerSellingPriceAll : item.product.deallerSellingPrice }}</td>
          <td>{{ (userType === 'user' ? item.product.userSellingPrice : item.quantity >= 3 ? item.product.deallerSellingPriceAll : item.product.deallerSellingPrice) * item.quantity }}</td>
          <td><button (click)="deleteCartItem(item)">Delete</button></td>
        </tr>
      </tbody>
    </table>
    <div class="total-price">
      <p>Total Price: {{ totalPrice }}</p>
    </div>
  </div>
</div>