a {
    text-decoration: none;
    font-size: large;
}
a:hover{
    color: #fff;
    background-color: #2196f3;
}

.active {
    background: #719cce;
}

.toolbar {
    height: 60px;
    background-color: #1976d2;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999; /* Adjust the z-index value as needed */
}

svg#rocket {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    align-self: center;
    padding-top: 5px;
    padding-left: 10px;
}
.logo p {
    padding-left: 10px;
    cursor: pointer;
}

.notification-icon {
    width: 35px;
    height: 30px;
    align-self: center;
    cursor: pointer;
    border-radius: 25px;
}

.notification-active {
    background-color: #2196f3;
}