<!-- Add a wrapper div with an ID that will be used for printing -->
<div id="print-section">
    <h2 dir="rtl">إيصال إستلام جهاز للصيانه</h2>
    <div>
        <p dir="rtl">كود الجهاز : {{_id}}</p>
        <p dir="rtl">اسم العميل: {{ clientName }}</p>
        <p dir="rtl">تاريخ الإستلام : {{ receivingDate }}</p>
        <p dir="rtl">نوع الجهاز: {{ deviceType }}</p>
        <p dir="rtl">القسم: {{ section }}</p>
        <h3 dir="rtl">شروط الخدمه</h3>
        <P dir="rtl">1- يتم دفع رسوم الفحص مقدما</P>
        <P dir="rtl">2- فترة الضمان لصيانه أعطال الهارد وير 30 يوم لنفس العطل ولا يوجد ضمان لصيانة اعطال السوفت وير</P>
        <P dir="rtl">3- الشركه غير مسؤله عن حدوث أعطال مفاجئه أثناء عمليه الصيانه أخطاء غير بشريه حيث ان نسبة حدوثها تتراوح بين 3-5%</P>
        <P dir="rtl">4- الشركه غير مسؤله عن الجهاز في حالة عدم حضور العميل لإستلامه خلال فتره زمنيه اقصاها 30 يوم من تاريخ هذا الإيصال ويعتبر الإيصال لاغيا بعد هذه التره وفاقدا لقيمته القانونيه ويتم التصرف في الجهاز بمعرفة المختصين في الشركه دون الرجوع للعميلز</P>
        <P dir="rtl">5- في حالة عدم مطالبة العميل بإستلام الجزء التالف المستبدل من جهازه يحق للشركه التصرف في هذا الجزء التالف أو التخلص منه </P>
        <P dir="rtl">6- بإستلام العميل لهذا الإيصال يكون موافقا علي جميع اشروط المذكوره أعلاه</P>
        <hr>
        <div fxLayout="row" fxLayoutAlign="space-between center" dir="rtl">
            <p dir="rtl"> العنوان: 14 ش جوده الحنفي المتفرع من شارع الجلاء البحري - شبين الكوم - المنوفيه</p>
            <p dir="rtl"> تليفون : 048-2333413</p>
            <p dir="rtl"> موبايل : </p>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" dir="rtl">
            <p dir="rtl">البريد الإلكتروني : info@alahram-group.com</p>
            <p dir="rtl">الموقع لإلكتروني : www.alahram-group.com</p>
        </div>
    </div>
</div>