<app-toolbar></app-toolbar>
<div class="container">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <button (click)="goBack()" class="btn btn-primary">back</button>
        <select name="informationType" id="informationType" [(ngModel)]="informationType">
            <option value="sections">أقسام الصيانة</option>
            <option value="product-sections">فئات المنتجات</option>
            <option value="suppliers">الموردين</option>
            <option value="dealers">التجار</option>
            <option value="dollarPrice">سعر الدولار</option>
        </select>
    </div>
    <div class="sections" *ngIf="(isNew && informationType ==='sections')  || isSection">
        <h3>إضافة قسم للصيانة</h3>
        <form (ngSubmit)="submitSection(SectionForm)" #SectionForm="ngForm" dir="rtl" class="form">
            <div fxLayout="row" fxLayoutAlign="space-between center" dir="rtl">
                <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
                    <input type="text" id="sectionName" placeholder="اسم القسم" name="sectionName" [(ngModel)]="section.name" required>
                </div>
                <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
                    <label for="checkingFees">رسوم الفحص: </label>
                    <input type="number" name="checkingFees" id="checkingFees" [(ngModel)]="section.checkingFees">
                </div>
            </div>
            <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
                <textarea matInput placeholder="الملاحظات" lang="ar" dir="auto" id="notes" name="notes" cols="30" rows="2" [(ngModel)]="section.description"></textarea>
            </div>
            <button mat-button class="btn btn-primary" id="submit" type="submit" [disabled]="SectionForm.invalid">Save</button>
        </form>
    </div>
    <div class="product-sections" *ngIf="(isNew && informationType === 'product-sections') || isProductSection">
        <h3>إضافة قسم للمنتجات</h3>
        <form (ngSubmit)="submitProductSection(ProductSectionForm)" #ProductSectionForm="ngForm" dir="rtl" class="form">
            <div fxLayout="row" fxLayoutAlign="space-between center" dir="rtl">
                <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
                    <input type="text" id="productSectionName" placeholder="اسم الفئة" name="productSectionName" [(ngModel)]="productSection.name" required>
                </div>
            </div>
            <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
                <textarea matInput placeholder="الملاحظات" lang="ar" dir="auto" id="productSectionnotes" name="productSectionnotes" cols="30" rows="2" [(ngModel)]="productSection.description"></textarea>
            </div>
            <button mat-button class="btn btn-primary" id="submit" type="submit" [disabled]="ProductSectionForm.invalid">Save</button>
        </form>
    </div>
    <div class="suppliers" *ngIf="(isNew && informationType === 'suppliers') || isSupplier">
        <h3>إضافة موردين</h3>
        <form (ngSubmit)="submintSupplier(supplierForm)" #supplierForm="ngForm" dir="rtl" class="form">
            <div fxLayout="row" fxLayoutAlign="space-between center" dir="rtl">
                <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
                    <input type="text" id="supplierName" placeholder="اسم الشركة" name="supplierName" [(ngModel)]="supplier.name" required>
                </div>
                <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
                    <input type="text" id="OwnerName" placeholder="اسم صاحب الشركة أو المحل" name="OwnerName" [(ngModel)]="supplier.owner" required>
                </div>
                <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
                    <input type="text" id="supplierphone" placeholder="رقم التليفون" name="supplierphone" [(ngModel)]="supplier.phone" required>
                </div>
            </div>
            <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
                <input type="text" id="supplierWhatsNumber" placeholder="رقم الواتس" name="supplierWhatsNumber" [(ngModel)]="supplier.whatsappNumber" required>
            </div>
            <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
                <textarea matInput placeholder="العنوان" lang="ar" dir="auto" id="address" name="address" cols="30" rows="2" [(ngModel)]="supplier.address"></textarea>
            </div>
            <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
                <textarea matInput placeholder="الملاحظات" lang="ar" dir="auto" id="notes" name="notes" cols="30" rows="2" [(ngModel)]="supplier.notes"></textarea>
            </div>
            <button mat-button class="btn btn-primary" id="submit" type="submit" [disabled]="supplierForm.invalid">Save</button>
        </form>
    </div>
    <div class="dealers" *ngIf="(isNew && informationType === 'dealers') || isDealer">
        <h3>إضافة تاجر</h3>
        <form (ngSubmit)="submintDealer(dealersForm)" #dealersForm="ngForm" dir="rtl" class="form">
            <div fxLayout="row" fxLayoutAlign="space-between center" dir="rtl">
                <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
                    <input type="text" id="dealerName" placeholder="اسم الديلر" name="dealerName" [(ngModel)]="dealer.name" required>
                </div>
                <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
                    <input type="text" id="owner" placeholder="اسم صاحب الشركة أو المحل" name="owner" [(ngModel)]="dealer.owner" required>
                </div>
                <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
                    <input type="text" id="dealerPhone" placeholder="رقم التليفون" name="dealerPhone" [(ngModel)]="dealer.phone" required>
                </div>
            </div>
            <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
                <input type="email" id="dealerEmail" placeholder="الإيميل" name="dealerEmail" [(ngModel)]="dealer.email">
            </div>
            <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
                <input type="text" id="dealerWhatsNumber" placeholder="رقم الواتس" name="dealerWhatsNumber" [(ngModel)]="dealer.whatsappNumber" required>
            </div>
            <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
                <textarea matInput placeholder="العنوان" lang="ar" dir="auto" id="dealerAddress" name="dealerAddress" cols="30" rows="2" [(ngModel)]="dealer.address"></textarea>
            </div>
            <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
                <textarea matInput placeholder="الملاحظات" lang="ar" dir="auto" id="notes" name="notes" cols="30" rows="2" [(ngModel)]="dealer.notes"></textarea>
            </div>
            <button mat-button class="btn btn-primary" id="submit" type="submit" [disabled]="dealersForm.invalid">Save</button>
        </form>
    </div>
    <div class="dollarPrice" *ngIf="(isNew && informationType === 'dollarPrice') || isDollarPrice">
        <h3>سعر الدولار</h3>
        <form (ngSubmit)="submitDollarPrice(dollarForm)" #dollarForm="ngForm" dir="rtl" class="form">
            <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
                <label for="dollarPrice">سعر الدولار : </label>
                <input type="number" name="dollarPrice" id="dollarPrice" [(ngModel)]="dollarPrice.price">
            </div>
            <button mat-button class="btn btn-primary" id="submit" type="submit" [disabled]="dollarForm.invalid">Save</button>
        </form>
    </div>
</div>