<app-toolbar></app-toolbar>
<div class="container">
  <div class="header">
    <button (click)="goBack(deviceForm)">Back</button>
    <h2>{{ isNew ? 'جهاز جديد' : 'تعديل جهاز' }}</h2>
  </div>
  <form (ngSubmit)="submit(deviceForm)" #deviceForm="ngForm" class="deviceForm" id="form">
    <div class="form-group" fxLayout="row" fxLayoutAlign="center center" dir="rtl">
      <mat-select placeholder="نوع العميل" id="clientSelection" name="clientSelection" [(ngModel)]="receive.clientSelection" [disabled]="disabled" required>
          <mat-option class="option" *ngFor="let ctype of clientSelection" [value]="ctype" selected>{{ ctype }}</mat-option>
      </mat-select>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" dir="rtl">
      <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
        <input type="text" id="clientName" placeholder="اسم العميل" name="clientName" [(ngModel)]="receive.clientName" [disabled]="disabled" *ngIf="receive.clientSelection === 'User'" autofocus required>
        <input type="text" id="searchDealers" placeholder="البحث عن التاجر" name="searchDealers" [(ngModel)]="receive.clientName" (keyup)="searchDealers()" [disabled]="disabled" *ngIf="receive.clientSelection === 'Dealer'" autofocus required>
      </div>
      <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
        <input type="text" id="telnum" placeholder="رقم التليفون" name="telnum" [(ngModel)]="receive.telnum" [disabled]="disabled" required>
      </div>
    </div>
    <ul *ngIf="isDealersSearched && receive.clientSelection === 'Dealer' && receive.clientName !== ''">
      <li *ngFor="let dealer of dealerSearchResult" (click)="onSelectDealer(dealer)">
        {{ dealer.name }} - {{dealer.phone}}
      </li>
    </ul>
    <div class="form-group" fxLayout="row" fxLayoutAlign="center center" dir="rtl">
      <input type="text" id="deviceType" placeholder="نوع الجهاز" name="deviceType" [(ngModel)]="receive.deviceType" [disabled]="disabled" required autocomplete="on">
    </div>
    <div class="form-group" fxLayout="row" fxLayoutAlign="center center" dir="rtl">
      <mat-select placeholder="القسم" id="section" name="section" [(ngModel)]="receive.section" (selectionChange)="determinFees()" [disabled]="disabled" required>
          <mat-option class="option" *ngFor="let sec of sections" [value]="sec.name">{{ sec.name }}</mat-option>
      </mat-select>
    </div>
    <div class="form-group" fxLayout="row" fxLayoutAlign="center center" dir="rtl">
      <mat-select placeholder="الفني" id="eng" name="eng" [(ngModel)]="receive.engineer" [disabled]="disabled" required>
          <mat-option class="option" *ngFor="let eng of users" [value]="eng.username">{{ eng.username }}</mat-option>
      </mat-select>
    </div>
    <div class="form-group" fxLayout="row" fxLayoutAlign="center center" dir="rtl">
      <mat-select placeholder="الأهميه" id="periority" name="periority" [(ngModel)]="receive.priority" [disabled]="disabled" required>
          <mat-option class="option" value="normal">عادي</mat-option>
          <mat-option class="option" value="high">مستعجل</mat-option>
      </mat-select>
    </div>
    <div class="form-group" fxLayout="row" fxLayoutAlign="center center" dir="rtl">
      <textarea matInput placeholder="الشكوي" lang="ar" dir="auto" id="complain" name="complain" cols="30" rows="8" [(ngModel)]="receive.complain" [disabled]="disabled" required></textarea>
    </div>
    <div class="form-group" fxLayout="row" fxLayoutAlign="center center" dir="rtl">
      <textarea matInput placeholder="الصيانه" lang="ar" dir="auto" id="repair" name="repair" cols="30" rows="8" [(ngModel)]="receive.repair" [disabled]="!sameEng"></textarea>
    </div>
    <div class="form-group" fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let product of receive.products" dir="rtl">
      <input type="text" placeholder="إسم المنتج" value="{{product.productName}}" style="margin-left: 5px;" disabled>
      <input type="number" name="Price" id="price" value="{{product.productPrice}}" style="margin-left: 5px; line-height: 1.5; padding: 10px;" disabled>
      <button (click)="onDelete(product.productId)" style="line-height: 1.5; padding: 10px;">delete</button>
    </div>
    <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
      <input type="text" id="searchProduct" placeholder="البحث عن المنتج" name="searchProduct" [(ngModel)]="searchTerm" (keyup)="onSearch()" dir="rtl">
    </div>
    <ul *ngIf="isSearched && searchTerm !== ''">
      <li *ngFor="let product of searchResult" (click)="onSelect(product, 1)">
        {{ product.name }} - {{ receive.clientSelection == 'User' ? product.userSellingPrice * dollarPrice : product.deallerSellingPrice * dollarPrice}}
      </li>
    </ul>
    <div class="form-group" fxLayout="row" fxLayoutAlign="center center" dir="rtl">
      <textarea matInput placeholder="الملاحظات" lang="ar" dir="auto" id="notes" name="notes" cols="30" rows="2" [(ngModel)]="receive.notes" [disabled]="!sameEng"></textarea>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" dir="rtl">
      <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
        <label for="receivingDate">تاريخ الإستلام:</label>
        <input type="text" id="receivingDate" name="receivingDate" [(ngModel)]="receive.receivingDate" placeholder={{date}} value={{date}} disabled>
      </div>
      <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
        <label for="toDeliverDate">معاد التسليم:</label>
        <input type="date" id="toDeliverDate" name="toDeliverDate" [(ngModel)]="receive.toDeliverDate" placeholder="معاد التسليم" lang="ar">
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" dir="rtl">
      <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
        <label for="fees">حساب الصيانة:</label>
        <input type="number" id="fees" name="fees" [(ngModel)]="receive.fees" required [disabled]="!sameEng">
      </div>
      <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
        <label for="fees">حساب المنتجات:</label>
        <input type="number" id="productsMoney" name="productsMoney" [(ngModel)]="receive.productsMoney" required [disabled]="!sameEng">
      </div>
      <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
        <label for="fees">خصم:</label>
        <input type="number" id="discount" name="discount" [(ngModel)]="receive.discount" required [disabled]="disabled">
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" dir="rtl">
      <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
        <label for="fees">الإجمالي:</label>
        <input type="number" id="total" name="total" value="{{(receive.fees + receive.productsMoney) - receive.discount}}" [(ngModel)]="receive.total" required [disabled]="disabled">
      </div>
      <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
        <label for="cash">كاش:</label>
        <input type="number" id="cash" name="cash" [(ngModel)]="receive.cash" required [disabled]="disabled">
      </div>
      <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
        <label for="owing">آجل:</label>
        <input type="number" id="owing" name="owing" value="{{receive.total - receive.cash}}" [(ngModel)]="receive.owing" required [disabled]="disabled">
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px" dir="rtl">
      <div class="form-group" fxLayout="row" fxLayoutAlign="center center" *ngIf="!isNew">
        <input type="checkbox" name="repaired" id="repaired" [(ngModel)]="receive.repaired" [disabled]="repairdone || !sameEng" (change)="repairStatus()">
        <label for="repaired"> تم الإصلاح </label><br>
      </div>
      <div class="form-group" style="max-width: 100%; margin:auto;" fxLayout="row" fxLayoutAlign="center center">
        <input type="checkbox" name="paidAdmissionFees" id="paidAdmissionFees" [(ngModel)]="receive.paidAdmissionFees" [disabled]="disabled">
        <label for="paidAdmissionFees"> تم دفع الرسوم </label><br>
      </div>
    </div>
    <button class="btn btn-primary" id="submit" type="submit" [disabled]="deviceForm.invalid || (deviceForm.valid && submited)" *ngIf="!receive.delivered">{{ isNew ? 'حفظ' : 'تحديث' }}</button>
  </form>
  <div class="buttons-group" fxLayout="row" fxLayoutAlign="space-around end" fxLayoutGap="10px" *ngIf="updating">
    <button mat-button (click)="returnDeliveredToDevices(receive._id)" *ngIf="(!receive.returned && receive.delivered && user.role !== 'technition') || (receive.returned && !receive.delivered && user.role !== 'technition')">مرتجع</button>
    <button mat-button (click)="moveToDelivered(receive._id)" *ngIf="receive.repaired && user.role !== 'technition'">تسليم</button>
    <button mat-button (click)="updateDeliveredDevice(receive._id, receive)" *ngIf="receive.delivered && !receive.returned && user.role !== 'technition'">تحديث المعلومات</button>
  </div>
  <div class="row" fxLayout="row" fxLayoutAlign="space-around center">
    <div *ngIf="submited" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
      <app-print-layout [clientName]="print.clientName" [telnum]="print.telnum" [deviceType]="print.deviceType" [section]="print.section" [_id]="recieptId" [receivingDate]="date" [complain]="print.complain" [fees]="print.fees" [deliveringDate]="today" [isReturned]="print.returned" [repair]="receive.repair"></app-print-layout>
      <button fxFlex style="width: 400px;" ngxPrint printSectionId="print-section" printTitle="إيصال الإستلام" [printStyle]="{p : {'line-height': '75%', 'font-weight': 'bold', 'font-size' : '11px'}, svg :{'width':'100px','height':'100px'}, span :{'padding-top': '7px'}, h3: {'padding' : '3px'}}" target="_blank" [disabled]="disabled">إيصال الإستلام</button>
  
      <button fxFlex style="width: 400px;" ngxPrint printSectionId="barcode" [disabled]="disabled">إطبع الباركود</button>
      <button fxFlex style="width: 400px;" *ngIf="receive.delivered" ngxPrint printSectionId="delivery-receipt" printTitle="إيصال التسليم" [printStyle]="{p : {'line-height': '75%', 'font-weight': 'bold', 'font-size' : '11px'}, svg :{'width':'100px','height':'100px'}, span :{'padding-top': '7px'}, h3: {'padding' : '3px'}}" target="_blank" [disabled]="disabled">إيصال التسليم</button>
    </div>
  
    <div *ngIf="updating" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
      <app-print-layout [clientName]="receive.clientName" [telnum]="receive.telnum" [deviceType]="receive.deviceType" [section]="receive.section" [_id]="recieptId" [receivingDate]="date" [complain]="receive.complain" [fees]="receive.fees" [deliveringDate]="today" [isReturned]="receive.returned" [repair]="receive.repair"></app-print-layout>
      <button fxFlex style="width: 400px;" ngxPrint printSectionId="print-section" printTitle="إيصال الإستلام" [printStyle]="{p : {'line-height': '75%', 'font-weight': 'bold', 'font-size' : '11px'}, svg :{'width':'100px','height':'100px'}, span :{'padding-top': '7px'}, h3: {'padding' : '3px'}}" target="_blank" [disabled]="disabled">إيصال الإستلام</button>
  
      <button fxFlex style="width: 400px;" ngxPrint printSectionId="barcode" [disabled]="disabled">إطبع الباركود</button>
      <button fxFlex style="width: 400px;" *ngIf="receive.delivered" ngxPrint printSectionId="delivery-receipt" printTitle="إيصال التسليم" [printStyle]="{p : {'line-height': '100%', 'font-weight': 'bold', 'font-size' : '11px'}, svg :{'width':'100px','height':'100px'}, span :{'padding-top': '7px'}, h3: {'padding' : '3px'}}" target="_blank" [disabled]="disabled">إيصال التسليم</button>
    </div>
  </div>
  
</div>
