<div class="container">
  <div class="header">
    <button (click)="goBack()">back</button>
    <h2>{{ isNew ? 'جهاز جديد' : 'تعديل جهاز' }}</h2>
  </div>
  <form (ngSubmit)="submit()" #deviceForm="ngForm" class="deviceForm" id="form">
    <div fxLayout="row" fxLayoutAlign="space-between center" dir="rtl">
      <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
        <input type="text" id="clientName" placeholder="اسم العميل" name="clientName" [(ngModel)]="receive.clientName" required>
      </div>
      <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
        <input type="text" id="telnum" placeholder="رقم التليفون" name="telnum" [(ngModel)]="receive.telnum" required>
      </div>
    </div>
    <div class="form-group" fxLayout="row" fxLayoutAlign="center center" dir="rtl">
      <input type="text" id="deviceType" placeholder="نوع الجهاز" name="deviceType" [(ngModel)]="receive.deviceType" required>
    </div>
    <div class="form-group" fxLayout="row" fxLayoutAlign="center center" dir="rtl">
      <mat-select placeholder="نوع العميل" id="clientSelection" name="clientSelection" [(ngModel)]="receive.clientSelection" required>
          <mat-option class="option" *ngFor="let ctype of clientSelection" [value]="ctype" selected>{{ ctype }}</mat-option>
      </mat-select>
    </div>
    <div class="form-group" fxLayout="row" fxLayoutAlign="center center" dir="rtl">
      <mat-select placeholder="القسم" id="section" name="section" [(ngModel)]="receive.section" (selectionChange)="determinFees()" required>
          <mat-option class="option" *ngFor="let sec of section" [value]="sec">{{ sec }}</mat-option>
      </mat-select>
    </div>
    <div class="form-group" fxLayout="row" fxLayoutAlign="center center" dir="rtl">
      <textarea matInput placeholder="الشكوي" id="complain" name="complain" cols="30" rows="10" [(ngModel)]="receive.complain" required></textarea>
    </div>
    <div class="form-group" fxLayout="row" fxLayoutAlign="center center" dir="rtl">
      <textarea matInput  placeholder="الملاحظات" id="notes" name="notes" cols="30" rows="10" [(ngModel)]="receive.notes"></textarea>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" dir="rtl">
      <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
        <input type="text" id="receivingDate" name="receivingDate" [(ngModel)]="receive.receivingDate" placeholder={{date}} value={{date}} disabled>
      </div>
      <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
        <input type="number" id="fees" name="fees" [(ngModel)]="receive.fees" required>
      </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="deviceForm.invalid">Save</button>
  </form>

  <app-print-layout [clientName]="receive.clientName" [telnum]="receive.telnum" [deviceType]="receive.deviceType" [section]="receive.section" [_id]="recieptId" [receivingDate]="date" [complain]="receive.complain" [fees]="receive.fees"></app-print-layout>
  <button ngxPrint printSectionId="print-section" printTitle="إيصال الإستلام" [printStyle]="{p : {'line-height': '75%', 'font-weight': 'bold', 'font-size' : '11px'}, svg :{'width':'100px','height':'100px'}, span :{'padding-top': '7px'}, h3: {'padding' : '3px'}}" target="_blank">Print Receipt</button>

  <button ngxPrint printSectionId="barcode">إطبع الباركود</button>
</div>
