<div class="Bar">
    <button mat-button (click)="goBack()" class="back">back</button>
    <div class="searchBar">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Search..." (keyup.enter)="search()" (keyup)="search()">
      <button (click)="search()">Search</button>
    </div>
  </div>
  
  <table class="table" *ngIf="isSearched" dir="rtl">
    <thead dir="rtl">
      <tr dir="rtl">
        <th dir="rtl">الكود</th>
        <th dir="rtl">القسم</th>
        <th dir="rtl">اﻷسم</th>
        <th dir="rtl">رقم التليفون</th>
        <th dir="rtl">نوع الجهاز</th>
        <th dir="rtl">الشكوي</th>
        <th dir="rtl">الملاحظات</th>
        <th dir="rtl">نوع العميل</th>
        <th dir="rtl">تاريخ الإستلام</th>
      </tr>
    </thead>
    <tbody dir="rtl">
      <tr *ngFor="let device of searchResult" dir="rtl">
        <td dir="rtl">{{ device._id }}</td>
        <td dir="rtl">{{ device.section }}</td>
        <td dir="rtl">{{ device.clientName }}</td>
        <td dir="rtl">{{ device.telnum }}</td>
        <td dir="rtl">{{ device.deviceType }}</td>
        <td dir="rtl">{{ device.complain }}</td>
        <td dir="rtl">{{ device.notes }}</td>   
        <td dir="rtl">{{ device.clientSelection }}</td>
        <td dir="rtl">{{ device.receivingDate }}</td> 
        <td>
          <a mat-button [routerLink]="['/devices', device._id, 'edit']">تعديل</a>
          <a mat-button (click)="onDelete(device._id)">حذف</a>
        </td>
      </tr>
    </tbody>
</table>

  