<div class="spotlight-overlay" *ngIf="showSpotlight">
  <div class="spotlight-container" fxLayout="column">
    <input class="spotlight-input" id="spotlight-input" type="text" [(ngModel)]="searchTerm" (keydown.enter)="processInput()" (keydown.arrowDown)="nextTarget()" (keydown.arrowUp)="previousTarget()" placeholder="Search..." autofocus autocomplete="additional-name">
      <div class="suggestions" *ngIf="searchTerm && showSuggestions">
        <div class="suggestion" *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)" fxLayout="column">
          <span>{{ suggestion }}</span>
        </div>
      </div>
  </div>
</div>

<div class="overlay-block" *ngIf="blockInteraction"></div>