$spotlightColor: #ffffff; // Adjust the color to fit your dark theme
$spotlightBorderRadius: 10px; // Adjust the border radius as desired
.spotlight-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent; /* semi-transparent black background */
  z-index: 9999; /* ensure the overlay appears on top of other elements */
  pointer-events: none; /* allow interaction with underlying elements */
  display: flex;
  justify-content: center;
  align-items: center;

  .spotlight-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15vh;
    width: 100%;

    .spotlight-input {
      width: 50%;
      min-width: 300px;
      max-width: 600px;
      height: 30px;
      padding: 10px;
      border: none;
      background-color: #222;
      border-radius: $spotlightBorderRadius;
      color: $spotlightColor;
      font-size: 16px;
      display: flex;
      align-items: center;
      outline: none;
      cursor: pointer;
      
      &::placeholder {
        color: rgba($spotlightColor, 0.7);
      }
    }

    .suggestions {
      width: 50%;
      height: auto;
      min-width: 300px;
      max-width: 600px;
      padding: 10px;
      border-radius: $spotlightBorderRadius;
      font-size: 16px;
      background-color: #222;
      color: white;
      text-align: center;

      .suggestion {
        display: flex;
        flex-wrap: wrap;
        text-align: justify;

        .span {
          width: 95%;
          max-width: 600px;
        }
      }
    }
  }
  
}

.overlay-block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 9999; /* Adjust the z-index as needed to ensure it covers the underlying components */
}