<div class="container jumbotron"
    fxLayout="row"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="center center" 
    fxLayoutGap="10px">

  <div fxFlex fxFlex.gt-sm="50%">
    <h1>Welcome, {{username}}
        <button class="Button" id="logout" (click)="logout()">Logout</button>
    </h1>
    <div>
        <p>Completed: {{completedCount}}</p>
        <p>Inprogress: {{inProgressCount}}</p>
        <p>returned: {{returnedCount}}</p>
        <p>repaired and returned in this month {{returnedInTheSameMonth}}</p>
    </div>
  </div>
  <div fxFlex fxFlexAlign.gt-lg="center left" fxFlex.gt-sm="20%">
    
  </div>
  <div fxFlex></div>
</div>

<h2 class="centered">Device List</h2>

<div class="filtterQuerry" dir="rtl">
  <div class="query">
    <label for="week">الأسبوع الحالي:</label>
    <input type="checkbox" id="week" [(ngModel)]="query.newDevices" (change)="filterDevices()">
  </div>
  <div class="query">
    <label for="today">اليوم:</label>
    <input type="checkbox" id="today" [(ngModel)]="query.today" (change)="filterDevices()">
  </div>
  <div class="query">
    <label for="thisMonth">الشهر الحالي:</label>
    <input type="checkbox" id="thisMonth" [(ngModel)]="query.thisMonth" (change)="filterDevices()">
  </div>
  <div class="query">
    <label for="thisYear">السنة الحالية:</label>
    <input type="checkbox" id="thisYear" [(ngModel)]="query.thisYear" (change)="filterDevices()">
  </div>
  <div class="query">
    <label for="inProgress">قيد الصيانة:</label>
    <input type="checkbox" id="inProgress" [(ngModel)]="query.inProgress" (change)="filterDevices()">
  </div>
  <div class="query">
    <label for="repaired">تم صيانتة:</label>
    <input type="checkbox" id="repaired" [(ngModel)]="query.repaired" (change)="filterDevices()">
  </div>
  <div class="query">
    <label for="specificYear">السنة:</label>
    <input type="number" id="specificYear" lang="ar" dir="auto" [(ngModel)]="query.specificYear" (change)="filterDevices()">
  </div>
  <div class="query">
    <label for="startDate">من:</label>
    <input type="date" id="startDate" [(ngModel)]="query.startDate" placeholder="تاريخ البدء" lang="ar" (change)="filterDevices()">
  </div>
  <div class="query">
    <label for="endDate">إلي:</label>
    <input type="date" id="endDate" [(ngModel)]="query.endDate" placeholder="تاريخ الانتهاء" lang="ar" (change)="filterDevices()">
  </div>
  <div class="query" dir="rtl">
    <mat-select placeholder="الأهميه" id="priority" name="priority" [(ngModel)]="query.priority" (selectionChange)="filterDevices()" required>
        <mat-option class="option"  value="normal">عادي</mat-option>
        <mat-option class="option"  value="high">مستعجل</mat-option>
    </mat-select>
  </div>
  <button (click)="filterDevices()" class="Button">Filter</button>
  <button (click)="resetFilter()" class="Button" id="resetButton">reset</button>
  <button  class="Button" routerLink="/search">Search</button>
</div>

<div id="cards-container" fxLayout="column" fxLayoutGap="20px" >
  <mat-card class="deviceCard" *ngFor="let device of devices" [class.high-priority]="isPriorityHigh(device.priority)">
    <mat-card-content fxLayout="column" fxLayoutGap="10px">
      <div fxLayout="column" fxLayoutAlign="center">
        <div class="data-row">
          <div class="data-column">
            <p><strong>ID:</strong> {{ device._id }}</p>
          </div>
          <div class="data-column">
            <p><strong>Section:</strong> {{ device.section }}</p>
          </div>
          <div class="data-column">
            <p><strong>Client Selection:</strong> {{ device.clientSelection }}</p>
          </div>
          <div class="data-column">
            <p><strong>Complain:</strong> {{ device.complain }}</p>
          </div>
        </div>
        <div class="data-row">
          <div class="data-column">
            <p><strong>Name:</strong> {{ device.clientName }}</p>
          </div>
          <div class="data-column">
            <p><strong>Device Type:</strong> {{ device.deviceType }}</p>
          </div>
          <div class="data-column">
            <p><strong>Notes:</strong> {{ device.notes }}</p>
          </div>
          <div class="data-column">
            <p><strong>Phone Number:</strong> {{ device.telnum }}</p>
          </div>
          <div class="data-column">
            <p><strong>Receiving Date:</strong> {{ device.receivingDate }}</p>
          </div>
        </div>
      </div>
      <button class="editButton" mat-button [routerLink]="['/devices', device._id, 'edit']">Add Report</button>
    </mat-card-content>
  </mat-card>
</div>