/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

$primary-color: #007bff;
$danger-color: #dc3545;

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: $primary-color;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: darken($primary-color, 10%);
  }

  &.btn-danger {
    background-color: $danger-color;

    &:hover {
      background-color: darken($danger-color, 10%);
    }
  }
}

@media print {
  app-root > * { display: none; }
  app-root app-print-layout { display: block; }
}