.container {
  margin-top: 60px;
}
.Bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  height: 150px; 
  // position: fixed; 
  // top: 0;
  width: 100%;

  .back {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
  }
  .filtterQuerry {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    // margin-top: 3.5rem;
  }
  
  .query {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  label {
    color: #000000e5;
  }
  
  input[type="checkbox"] {
    margin-right: 0.5rem;
  }
  
  #specificYear {
    border: none;
    font-size: 16px;
    border-radius: 4px;
    padding: 5px;
    &:focus {
      outline: none;
    }
  }
  #eng {
    width : 200px;
  }
  #eng .option {
    width: 200px;
  }

  #priority {
    width : 200px;
  }
  #priority .option {
    width: 200px;
  }

  .searchBar {
    display: flex;
    max-width: 400px;
    margin: auto;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    padding: 5px;

    input[type="text"] {
      border: none;
      flex: 1;
      padding: 5px;
      font-size: 16px;

      &:focus {
        outline: none;
      }
    }

    button {
      border: none;
      background-color: blue;
      color: white;
      padding: 5px 10px;
      cursor: pointer;
      font-size: 16px;
      border-radius: 4px;
      margin-left: 5px;
    }
  }
}
.table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  // margin-top: 9.4rem;
}

th {
  background-color: #f2f2f2;
  text-align: right;
  padding: 10px;
}

td {
  border: 1px solid #ddd;
  padding: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
.table-container {
  max-height: calc(100vh - 9.4rem - 60px); /* Adjust the height as needed */
  overflow-y: auto;
}
tbody {
  max-height: 60vh;
  overflow-y: auto;
}
thead {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}
@media (max-width: 767px) {
  /* adjust the table style for small screens */
  .table {
    margin-top: 16.5rem;
    font-size: 12px;
  }

  th,
  td {
    padding: 5px;
  }

}

@media screen and (min-width: 767px) and (max-width: 997px){
  .table {
    margin-top: 17rem;
    font-size: 12px;
  }
  th,
  td {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  /* adjust the table style for medium screens */
  td {
    max-width: 300px; /* set a maximum width for the table cells */
    height: 50px; /* set the cell height for medium screens */
  }
}

@media (min-width: 992px) {
  /* adjust the table style for large screens */
  td {
    max-width: 400px; /* set a maximum width for the table cells */
    height: 80px; /* set the cell height for large screens */
  }
}

@media (max-width : 997px) {
  .Bar {
    height: 270px;
  }

  .filtterQuerry {
    margin-top: 20px;
  }
}