<div class="Bar">
  <div fxLayout="column">
    <div class="filtterQuerry">
      <div class="query">
        <label for="week">This Week:</label>
        <input type="checkbox" id="week" [(ngModel)]="query.newDevices" (change)="filterDevices()">
      </div>
      <div class="query">
        <label for="today">Today:</label>
        <input type="checkbox" id="today" [(ngModel)]="query.today" (change)="filterDevices()">
      </div>
      <div class="query">
        <label for="thisMonth">This Month:</label>
        <input type="checkbox" id="thisMonth" [(ngModel)]="query.thisMonth" (change)="filterDevices()">
      </div>
      <div class="query">
        <label for="thisYear">This Year:</label>
        <input type="checkbox" id="thisYear" [(ngModel)]="query.thisYear" (change)="filterDevices()">
      </div>
      <div class="query">
        <label for="inProgress">In Progress:</label>
        <input type="checkbox" id="inProgress" [(ngModel)]="query.inProgress" (change)="filterDevices()">
      </div>
      <div class="query">
        <label for="repaired">Repaired:</label>
        <input type="checkbox" id="repaired" [(ngModel)]="query.repaired" (change)="filterDevices()">
      </div>
      <div class="query">
        <label for="paidAdmissionFees">Paid Admission Fees:</label>
        <input type="checkbox" id="paidAdmissionFees" [(ngModel)]="query.paidAdmissionFees" (change)="filterDevices()">
      </div>
      <div class="query">
        <label for="delivered">Delivered:</label>
        <input type="checkbox" id="delivered" [(ngModel)]="query.delivered" (change)="filterDevices()">
      </div>
      <div class="query">
        <label for="returned">Returned:</label>
        <input type="checkbox" id="returned" [(ngModel)]="query.returned" (change)="filterDevices()">
      </div>
      <div class="query">
        <label for="specificYear">Specific Year:</label>
        <input type="number" id="specificYear" [(ngModel)]="query.specificYear" (keyup.enter)="filterDevices()">
      </div>
      <div class="query" dir="rtl">
        <mat-select placeholder="الفني" id="eng" name="eng" [(ngModel)]="query.engineer" (selectionChange)="filterDevices()" required>
          <mat-option class="option" *ngFor="let eng of users" [value]="eng.username">{{ eng.username }}</mat-option>
        </mat-select>
      </div>
      <div class="query" dir="rtl">
        <mat-select placeholder="الأهميه" id="priority" name="priority" [(ngModel)]="query.priority" (selectionChange)="filterDevices()" required>
          <mat-option class="option"  value="normal">عادي</mat-option>
          <mat-option class="option"  value="high">مستعجل</mat-option>
        </mat-select>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div class="searchBar">
        <button mat-button (click)="goBack()" class="back">back</button>
        <input type="text" lang="ar" dir="auto" [(ngModel)]="searchTerm" placeholder="Search..." (keyup.enter)="search()" (keyup)="search()">
        <button (click)="search()">Search</button>
      </div>
    </div>
  </div>
  
</div>




<table class="table" *ngIf="isSearched" dir="rtl">
    <thead dir="rtl">
      <tr dir="rtl">
        <th dir="rtl">الكود</th>
        <th dir="rtl">القسم</th>
        <th dir="rtl">اﻷسم</th>
        <th dir="rtl">رقم التليفون</th>
        <th dir="rtl">نوع الجهاز</th>
        <th dir="rtl">الشكوي</th>
        <th dir="rtl">الملاحظات</th>
        <th dir="rtl">نوع العميل</th>
        <th dir="rtl">تاريخ الإستلام</th>
      </tr>
    </thead>
    <tbody dir="rtl">
      <tr *ngFor="let device of searchResult" dir="rtl">
        <td dir="rtl">{{ device._id }}</td>
        <td dir="rtl">{{ device.section }}</td>
        <td dir="rtl">{{ device.clientName }}</td>
        <td dir="rtl">{{ device.telnum }}</td>
        <td dir="rtl">{{ device.deviceType }}</td>
        <td dir="rtl">{{ device.complain }}</td>
        <td dir="rtl">{{ device.notes }}</td>   
        <td dir="rtl">{{ device.clientSelection }}</td>
        <td dir="rtl">{{ device.receivingDate }}</td> 
        <td>
          <a mat-button [routerLink]="['/devices', device._id, 'edit']">تعديل</a>
        </td>
      </tr>
    </tbody>
</table>

